{% extends "base.html" %}

{% block content %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Employee Name</th>
                    <th>Email ID</th>
                    <th>Employee_ID</th>
                    <th>Designation</th>
                    <th>Age</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in emp %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.user.email}}</td>
                    <td>{{ i.emp_id}}</td>
                    <td>{{ i.designation}}</td>
                    <td>{{ i.age}}</td>
                    <td><a href="{% url 'edit_employee' i.id %}"><div class="btn btn-primary">Edit</div></a>  <a href="{% url "delete_employee" i.id %}"><div class="btn btn-danger">Pernament Delete</div></a> 
                        {% if i.user.is_active %}
                        <a href="{% url "block" i.user.id %}"><div class="btn btn-warning">Block</div></a></td>
                        {% else%}
                        <a href="{% url "unblock" i.user.id %}"><div class="btn btn-success">Un Block</div></a></td>
                        {% endif %}
                </tr>
                {% endfor %}
                <a href="{% url "employee_creation" %}"><div class="btn btn-primary">Add Employee</div></a>
            </tbody>
        </table>
{% endblock  %}